				<div class="container" ng-controller="searchUser">
			<form>
				<div class="col-md-12 col-xs-12"><h1 class="text-center">Search</h1></div>
				<div class="col-md-12 col-xs-12"><input name="search" id="search-input" class="col-md-12 col-xs-12 form-control text-center" placeholder="Name, ID, URL" ng-model="search"/></div>
				<div class="clearfix"></div>
			</form>
			<div id="search-result-detail">
				<div class="user-detail" ng-repeat="item in user | filter: search">
						<div class="col-md-2 col-xs-4 avatar">
							<img src="{{item.avatar_url}}" class="img-responsive"/>
						</div>
						<div class="col-md-8 col-xs-8 user" >
							<h3>{{item.login}}</h3>
							<div class="col-md-12 no-padding">
								<div class="col-md-3 col-xs-6 no-padding">ID</div>
								<div class="col-md-3 col-xs-6 no-padding user-id">{{item.id}}</div>
							</div>
							<div class="col-md-12  no-padding">
								<div class="col-md-3 col-xs-6 no-padding">Login</div>
								<div class="col-md-3 col-xs-6 no-padding user-login">{{item.login}}</div>
							</div>
							<div class="col-md-12  no-padding">
								<div class="col-md-3 col-xs-6 no-padding">URL</div>
								<div class="col-md-3 col-xs-6 no-padding"><a href="{{item.html_url}}">{{item.html_url}}</a>a></div>
							</div>
						</div>
						<div class="col-md-2 col-xs-12">
							<a href="#!/user-details/{{item.login}}" class="btn btn-success">View Repositories</a>
						</div>
						<div class="clearfix"></div>
				</div>
			</div>
		</div>